<div class="header">
    <div class="companyName">
        <div class="name">Company Name</div>
    </div>
    <div class="search-container">
        <form>
            <input type="text" placeholder="Search Templates" name="search">
            <button type="submit" class="searchButton">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
    </div>
    <!-- <div class="login-container">
                <div class="userLogin">
                    <div class="userLoginId"><i class="fa-regular fa-user"></i><a href="login">Login</a></div>
                </div>
            </div> -->
    <div class="loginBtn">
        <button class="buttonStyle" id="myBtn">Login</button>
    </div>
    <div id="myModal" class="modal">

        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Some text in the Modal..</p>
        </div>
    </div>
</div>