<div class="col-md-4 rowing">
    <a href="description">
        <div class="card card-head-define">
            <img src="assets/img/card/card.jpg" class="card-img-top pro-card" alt="card-image">
            <div class="card-body">
                <h5 class="card-title">{{result!.title}}</h5>
                <p class="card-text">{{result!.category}}</p>
                <p class="card-dot dot-in-card">
                    <i class="fa-solid fa-circle"></i>
                    <i class="fa-solid fa-circle"></i>
                    <i class="fa-solid fa-circle"></i>
                </p>
            </div>
        </div>
    </a>
</div>